.photo-list h1 {
  color: black;
  font-family: Times, serif !important;
  font-size: 32px;
  font-weight: bold;
  margin: 0; }
.photo-list li {
  list-style: disc;
  margin: 0; }
.photo-list .photo-button {
  background: none;
  display: block;
  border: none;
  font-family: Times, serif;
  font-size: 16px;
  cursor: pointer;
  text-decoration: underline;
  color: blue;
  padding: 0; }
  .photo-list .photo-button:visited {
    color: pink; }

body.modal-active {
  overflow-y: hidden; }
