/******************************************************
(0.0) - Setup: SCSS Mixins, Variables, etc.
******************************************************/
/***************************
(0.1) - Mixins
***************************/
/***************************
(0.2) - Variables
***************************/
/******************************************************
(1.0) - Global Styles
******************************************************/
html {
  box-sizing: border-box; }

body {
  margin: 0;
  overflow-x: hidden !important; }

*, *:before, *:after {
  box-sizing: inherit;
  z-index: 0; }

body {
  background: #fafafa;
  font-family: "PT Mono", sans-serif; }

h1, h2, h3, h4 {
  margin-bottom: 0;
  font-weight: 300; }
  h1 + p, h2 + p, h3 + p, h4 + p {
    margin-top: 5px; }

h1 {
  font-size: 24px;
  margin: 20px 0; }

p {
  color: #808285;
  line-height: 1.7em; }
  p.lead {
    font-size: 1.2em;
    font-style: italic;
    font-weight: 800; }

button {
  cursor: pointer; }
  button:focus {
    outline: none; }

a {
  color: #414042;
  text-decoration: none;
  transition: all 0.2s ease;
  position: relative;
  overflow: hidden; }
  a:hover {
    color: #808285;
    text-decoration: underline; }

img {
  width: 100%;
  max-width: 100%; }

/***************************
(1.1) - Animations
***************************/
@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
@keyframes moveup {
  0% {
    margin-top: 200px; }
  100% {
    margin-top: 0px; } }
@keyframes slideText {
  0% {
    text-indent: 9999px; }
  100% {
    text-inden: 0; } }
/***************************
(1.2) - Define Grid
***************************/
.container {
  max-width: 768px;
  margin: 0 auto; }
  .container--fluid {
    margin: 0;
    max-width: 100%; }
  .container__row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px; }
  .container__col-sm-1 {
    flex-basis: 8.3333333333%;
    padding: 0 15px;
    position: relative;
    z-index: 0; }
  .container__col-sm-offset-1 {
    margin-left: 8.3333333333%; }
  .container__col-sm-2 {
    flex-basis: 16.6666666667%;
    padding: 0 15px;
    position: relative;
    z-index: 0; }
  .container__col-sm-offset-2 {
    margin-left: 16.6666666667%; }
  .container__col-sm-3 {
    flex-basis: 25%;
    padding: 0 15px;
    position: relative;
    z-index: 0; }
  .container__col-sm-offset-3 {
    margin-left: 25%; }
  .container__col-sm-4 {
    flex-basis: 33.3333333333%;
    padding: 0 15px;
    position: relative;
    z-index: 0; }
  .container__col-sm-offset-4 {
    margin-left: 33.3333333333%; }
  .container__col-sm-5 {
    flex-basis: 41.6666666667%;
    padding: 0 15px;
    position: relative;
    z-index: 0; }
  .container__col-sm-offset-5 {
    margin-left: 41.6666666667%; }
  .container__col-sm-6 {
    flex-basis: 50%;
    padding: 0 15px;
    position: relative;
    z-index: 0; }
  .container__col-sm-offset-6 {
    margin-left: 50%; }
  .container__col-sm-7 {
    flex-basis: 58.3333333333%;
    padding: 0 15px;
    position: relative;
    z-index: 0; }
  .container__col-sm-offset-7 {
    margin-left: 58.3333333333%; }
  .container__col-sm-8 {
    flex-basis: 66.6666666667%;
    padding: 0 15px;
    position: relative;
    z-index: 0; }
  .container__col-sm-offset-8 {
    margin-left: 66.6666666667%; }
  .container__col-sm-9 {
    flex-basis: 75%;
    padding: 0 15px;
    position: relative;
    z-index: 0; }
  .container__col-sm-offset-9 {
    margin-left: 75%; }
  .container__col-sm-10 {
    flex-basis: 83.3333333333%;
    padding: 0 15px;
    position: relative;
    z-index: 0; }
  .container__col-sm-offset-10 {
    margin-left: 83.3333333333%; }
  .container__col-sm-11 {
    flex-basis: 91.6666666667%;
    padding: 0 15px;
    position: relative;
    z-index: 0; }
  .container__col-sm-offset-11 {
    margin-left: 91.6666666667%; }
  .container__col-sm-12 {
    flex-basis: 100%;
    padding: 0 15px;
    position: relative;
    z-index: 0; }
  .container__col-sm-offset-12 {
    margin-left: 100%; }
  @media screen and (min-width: 768px) {
    .container__col-md-1 {
      flex-basis: 8.3333333333%;
      padding: 0 15px;
      position: relative;
      z-index: 0; }
    .container__col-md-offset-1 {
      margin-left: 8.3333333333%; }
    .container__col-md-2 {
      flex-basis: 16.6666666667%;
      padding: 0 15px;
      position: relative;
      z-index: 0; }
    .container__col-md-offset-2 {
      margin-left: 16.6666666667%; }
    .container__col-md-3 {
      flex-basis: 25%;
      padding: 0 15px;
      position: relative;
      z-index: 0; }
    .container__col-md-offset-3 {
      margin-left: 25%; }
    .container__col-md-4 {
      flex-basis: 33.3333333333%;
      padding: 0 15px;
      position: relative;
      z-index: 0; }
    .container__col-md-offset-4 {
      margin-left: 33.3333333333%; }
    .container__col-md-5 {
      flex-basis: 41.6666666667%;
      padding: 0 15px;
      position: relative;
      z-index: 0; }
    .container__col-md-offset-5 {
      margin-left: 41.6666666667%; }
    .container__col-md-6 {
      flex-basis: 50%;
      padding: 0 15px;
      position: relative;
      z-index: 0; }
    .container__col-md-offset-6 {
      margin-left: 50%; }
    .container__col-md-7 {
      flex-basis: 58.3333333333%;
      padding: 0 15px;
      position: relative;
      z-index: 0; }
    .container__col-md-offset-7 {
      margin-left: 58.3333333333%; }
    .container__col-md-8 {
      flex-basis: 66.6666666667%;
      padding: 0 15px;
      position: relative;
      z-index: 0; }
    .container__col-md-offset-8 {
      margin-left: 66.6666666667%; }
    .container__col-md-9 {
      flex-basis: 75%;
      padding: 0 15px;
      position: relative;
      z-index: 0; }
    .container__col-md-offset-9 {
      margin-left: 75%; }
    .container__col-md-10 {
      flex-basis: 83.3333333333%;
      padding: 0 15px;
      position: relative;
      z-index: 0; }
    .container__col-md-offset-10 {
      margin-left: 83.3333333333%; }
    .container__col-md-11 {
      flex-basis: 91.6666666667%;
      padding: 0 15px;
      position: relative;
      z-index: 0; }
    .container__col-md-offset-11 {
      margin-left: 91.6666666667%; }
    .container__col-md-12 {
      flex-basis: 100%;
      padding: 0 15px;
      position: relative;
      z-index: 0; }
    .container__col-md-offset-12 {
      margin-left: 100%; } }
  @media screen and (min-width: 992px) {
    .container__col-lg-1 {
      flex-basis: 8.3333333333%;
      padding: 0 15px;
      position: relative;
      z-index: 0; }
    .container__col-lg-offset-1 {
      margin-left: 8.3333333333%; }
    .container__col-lg-2 {
      flex-basis: 16.6666666667%;
      padding: 0 15px;
      position: relative;
      z-index: 0; }
    .container__col-lg-offset-2 {
      margin-left: 16.6666666667%; }
    .container__col-lg-3 {
      flex-basis: 25%;
      padding: 0 15px;
      position: relative;
      z-index: 0; }
    .container__col-lg-offset-3 {
      margin-left: 25%; }
    .container__col-lg-4 {
      flex-basis: 33.3333333333%;
      padding: 0 15px;
      position: relative;
      z-index: 0; }
    .container__col-lg-offset-4 {
      margin-left: 33.3333333333%; }
    .container__col-lg-5 {
      flex-basis: 41.6666666667%;
      padding: 0 15px;
      position: relative;
      z-index: 0; }
    .container__col-lg-offset-5 {
      margin-left: 41.6666666667%; }
    .container__col-lg-6 {
      flex-basis: 50%;
      padding: 0 15px;
      position: relative;
      z-index: 0; }
    .container__col-lg-offset-6 {
      margin-left: 50%; }
    .container__col-lg-7 {
      flex-basis: 58.3333333333%;
      padding: 0 15px;
      position: relative;
      z-index: 0; }
    .container__col-lg-offset-7 {
      margin-left: 58.3333333333%; }
    .container__col-lg-8 {
      flex-basis: 66.6666666667%;
      padding: 0 15px;
      position: relative;
      z-index: 0; }
    .container__col-lg-offset-8 {
      margin-left: 66.6666666667%; }
    .container__col-lg-9 {
      flex-basis: 75%;
      padding: 0 15px;
      position: relative;
      z-index: 0; }
    .container__col-lg-offset-9 {
      margin-left: 75%; }
    .container__col-lg-10 {
      flex-basis: 83.3333333333%;
      padding: 0 15px;
      position: relative;
      z-index: 0; }
    .container__col-lg-offset-10 {
      margin-left: 83.3333333333%; }
    .container__col-lg-11 {
      flex-basis: 91.6666666667%;
      padding: 0 15px;
      position: relative;
      z-index: 0; }
    .container__col-lg-offset-11 {
      margin-left: 91.6666666667%; }
    .container__col-lg-12 {
      flex-basis: 100%;
      padding: 0 15px;
      position: relative;
      z-index: 0; }
    .container__col-lg-offset-12 {
      margin-left: 100%; } }
  @media screen and (min-width: 1280px) {
    .container__col-xl-1 {
      flex-basis: 8.3333333333%;
      padding: 0 15px;
      position: relative;
      z-index: 0; }
    .container__col-xl-offset-1 {
      margin-left: 8.3333333333%; }
    .container__col-xl-2 {
      flex-basis: 16.6666666667%;
      padding: 0 15px;
      position: relative;
      z-index: 0; }
    .container__col-xl-offset-2 {
      margin-left: 16.6666666667%; }
    .container__col-xl-3 {
      flex-basis: 25%;
      padding: 0 15px;
      position: relative;
      z-index: 0; }
    .container__col-xl-offset-3 {
      margin-left: 25%; }
    .container__col-xl-4 {
      flex-basis: 33.3333333333%;
      padding: 0 15px;
      position: relative;
      z-index: 0; }
    .container__col-xl-offset-4 {
      margin-left: 33.3333333333%; }
    .container__col-xl-5 {
      flex-basis: 41.6666666667%;
      padding: 0 15px;
      position: relative;
      z-index: 0; }
    .container__col-xl-offset-5 {
      margin-left: 41.6666666667%; }
    .container__col-xl-6 {
      flex-basis: 50%;
      padding: 0 15px;
      position: relative;
      z-index: 0; }
    .container__col-xl-offset-6 {
      margin-left: 50%; }
    .container__col-xl-7 {
      flex-basis: 58.3333333333%;
      padding: 0 15px;
      position: relative;
      z-index: 0; }
    .container__col-xl-offset-7 {
      margin-left: 58.3333333333%; }
    .container__col-xl-8 {
      flex-basis: 66.6666666667%;
      padding: 0 15px;
      position: relative;
      z-index: 0; }
    .container__col-xl-offset-8 {
      margin-left: 66.6666666667%; }
    .container__col-xl-9 {
      flex-basis: 75%;
      padding: 0 15px;
      position: relative;
      z-index: 0; }
    .container__col-xl-offset-9 {
      margin-left: 75%; }
    .container__col-xl-10 {
      flex-basis: 83.3333333333%;
      padding: 0 15px;
      position: relative;
      z-index: 0; }
    .container__col-xl-offset-10 {
      margin-left: 83.3333333333%; }
    .container__col-xl-11 {
      flex-basis: 91.6666666667%;
      padding: 0 15px;
      position: relative;
      z-index: 0; }
    .container__col-xl-offset-11 {
      margin-left: 91.6666666667%; }
    .container__col-xl-12 {
      flex-basis: 100%;
      padding: 0 15px;
      position: relative;
      z-index: 0; }
    .container__col-xl-offset-12 {
      margin-left: 100%; } }

/******************************************************
(2.0) - Page Elements
******************************************************/
/***************************
(2.1) - Header
***************************/
header {
  background: white;
  padding: 0 15px;
  position: relative; }

/***************************
(2.2) - Navigation Menu
***************************/
nav {
  border-top: 1px solid #414042;
  border-bottom: 1px solid #414042;
  transition: height 0.5s ease-in-out;
  overflow: hidden;
  height: 116px;
  width: 100%; }
  nav.closed {
    height: 0px; }
  nav li {
    margin: 3px 0;
    list-style: square;
    list-style-type: square; }
    nav li i {
      transition: width 0.3s ease-in-out;
      width: 0;
      overflow: hidden; }
    nav li:hover i {
      width: 20px; }

/***************************
(2.3) - Header Buttons
***************************/
.button, button.close {
  background: white;
  box-sizing: initial;
  border: 2px solid #414042;
  padding: 5px; }
  .button:hover, button.close:hover {
    z-index: 1;
    text-decoration: none; }

a.button {
  transition: all 0.5s ease-in-out;
  position: relative; }
  a.button:hover {
    color: white;
    background: #414042; }

button.close {
  position: absolute;
  right: 1.5%;
  text-align: right;
  top: 15px;
  display: block;
  width: 20px;
  height: 20px;
  transition: top 1s ease-in-out; }
  button.close > .bar {
    display: block;
    width: 20px;
    height: 2px;
    background: #414042;
    border-radius: 1px;
    opacity: 1;
    transition: all 0.5s ease-in-out; }
    button.close > .bar + .bar {
      margin-top: 5px; }
  button.close.active .bar {
    margin-top: 0; }
  button.close.active .bar1 {
    opacity: 0; }
  button.close.active .bar2 {
    transform: rotate(45deg); }
  button.close.active .bar3 {
    margin-top: -2px;
    transform: rotate(-45deg); }

@media screen and (max-width: 768px) {
  span.hide {
    display: none; }

  header h1 {
    font-size: 21px; }

  #site__heading {
    width: 50%; }

  .button, button.close {
    z-index: 200; } }
/***************************
(2.2.0) - Content
***************************/
.content {
  padding: 15px; }
  .content p {
    font-family: "Open Sans", sans-serif;
    font-size: 18px; }
  .content > div {
    -o-animation: fadeIn, fadeIn 0.25s linear;
    -moz-animation: fadeIn, fadeIn 0.25s linear;
    -webkit-animation: fadeIn, fadeIn 0.25s linear;
    animation: fadeIn, fadeIn 0.25s linear; }
  .content ul {
    padding-left: 20px; }

/***************************
(2.2.1) - Work (portfolio)
***************************/
.portfolio__item {
  background: white;
  border: 1px solid #dedede;
  margin: 5px;
  transition: all 0.2s ease-in-out;
  -o-border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -o-box-shadow: 0 1px 2px rgba(204, 204, 204, 0.3);
  -moz-box-shadow: 0 1px 2px rgba(204, 204, 204, 0.3);
  -webkit-box-shadow: 0 1px 2px rgba(204, 204, 204, 0.3);
  box-shadow: 0 1px 2px rgba(204, 204, 204, 0.3); }
  .portfolio__item:hover {
    -o-box-shadow: 0 1px 5px #bcbcbc;
    -moz-box-shadow: 0 1px 5px #bcbcbc;
    -webkit-box-shadow: 0 1px 5px #bcbcbc;
    box-shadow: 0 1px 5px #bcbcbc; }
  .portfolio__item a {
    display: block;
    -o-border-radius: 2px 2px 0 0;
    -moz-border-radius: 2px 2px 0 0;
    -webkit-border-radius: 2px 2px 0 0;
    border-radius: 2px 2px 0 0; }
  .portfolio__item-header {
    border-top: 1px solid #ccc;
    padding: 0 15px;
    text-align: center; }
.portfolio .container__row {
  margin-bottom: 30px; }

@media screen and (max-width: 768px) {
  .portfolio__item {
    margin: 5px; }
    .portfolio__item:hover {
      margin: 5px; } }
div[class*="portfolio-item"] {
  background: white;
  border: 1px solid #dedede; }

/***************************
(2.2.2) - Modal Windows
***************************/
.overlay {
  display: none;
  background: #414042;
  opacity: 0.5;
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1; }

.modal, .overlay {
  animation: fadeIn 0.8s linear; }

.modal {
  display: none;
  transition: all 0.8s ease-in-out;
  -o-border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  height: 100%;
  overflow: scroll !important;
  left: 0;
  top: 0;
  position: fixed;
  width: 100%;
  background: white;
  z-index: 200; }
  .modal .container__row {
    margin-bottom: 15px; }
  .modal .container--fluid > .container__row {
    margin: 0; }
  .modal .logo {
    margin: 40px 0 0; }
  .modal #container__right {
    background: #eee;
    position: static;
    padding: 0 30px; }
    .modal #container__right h1 {
      font-size: 36px;
      max-width: 90%; }
    .modal #container__right p {
      max-width: 90%; }
  .modal .modal-link {
    position: absolute;
    padding: 5px;
    color: #414042;
    background: none;
    right: 5px;
    z-index: 2;
    font-size: 28px;
    top: 5px; }
    .modal .modal-link .bar {
      width: 20px;
      height: 2px;
      background: #414042;
      border-radius: 1px;
      opacity: 1;
      transform: rotate(45deg); }
      .modal .modal-link .bar + .bar {
        transform: rotate(-45deg);
        margin-top: -2px; }
  .modal .video {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0; }
    .modal .video iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%; }

.video {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 35px;
  height: 0;
  width: 100%; }
  .video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

@media screen and (min-width: 768px) {
  .modal .container__col-md-4 {
    position: relative; }
  .modal .container__col-md-4 div, .modal .modal-link {
    position: fixed; }
  .modal .modal-link {
    right: 25px;
    top: 15px; } }
body.modal-active {
  overflow: hidden; }

body.fancy {
  transition: all 8s ease-in-out; }
  body.fancy header {
    background: #222;
    border-right: 1px solid #414042;
    width: 500px;
    height: 100%;
    float: left;
    font-family: 'PT Sans', sans-serif; }
    body.fancy header * {
      color: white; }
    body.fancy header nav {
      border: none; }
    body.fancy header h1 {
      font-size: 2.3em; }
      body.fancy header h1:after {
        content: 'UI/UX Designer & Front-end Developer';
        color: turquoise;
        display: block;
        font-size: 1.2rem;
        font-weight: 400; }
    body.fancy header .hide {
      display: none; }
