
header {
  border-right: 1px solid $black;
  width: 500px;
  height: 100%;
  float: left;
  font-family: 'PT Sans', sans-serif;
  nav { border: none; }
  h1 {
    font-size: 2.3em;
    //margin-top: 50px;
    &:after {
      content: 'UI/UX Designer & Front-end Developer';
      color: turquoise;
      display: block;
      font-size: 1.2rem;
      font-weight:400;
    }
  }
  .hide {display: none; }
}
